.login {
    display: flex;
    
    flex-direction: column;
    gap: 20px;
    padding: 100px;
    background: url(loginimage.jpg);
    background-size: cover;
  
}

.logincontent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    
}

.user {
    display:flex;
    align-items: center;
    

}