.register {
    background-image: url(4.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-right: 30%;
    padding-left: 30%;
    padding-top: 70px;
    padding-bottom: 70px;
    align-items: center;  
    text-align: center;       
}

.inputStyle {
    height: 30px;
    width: 200px;
    border-radius: 8px;
    border-color: #868686;
    background-color: #efefef;
    border-style: double;
    border-width: 1px;
}


.inputBlock {
    padding: 10px;     
}

.registerbutton {
    font-family: Cinzel-400;
    padding-top: 30px;
    
}