.team {
    background-color: rgb(170, 142, 65);
    display: grid;
    justify-content: center;
    padding-top: 40px;
    padding-left: 50px;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.imgTeam {
    height: 170px;
    width: 190px;
    border-radius: 50%;
    align-items: center;
}

.teacherName {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
}

.teamCard {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    padding-bottom: 20px;
}

.teachers {
    display: flex;
    gap: 20px;
}

@media only screen and (max-width: 920px){
    .team {
        background-color: rgb(170, 142, 65);
        display: grid;
        justify-content: center;
        padding-top: 40px;
        padding-left: 50px;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 768px){
    .team {
        background-color: rgb(170, 142, 65);
        display: grid;
        justify-content: center;
        padding-top: 40px;
        padding-left: 50px;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 920px){
    .team {
        background-color: rgb(170, 142, 65);
        display: grid;
        justify-content: center;
        padding-top: 40px;
        padding-left: 50px;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
}