.home {
    background-color: rgb(170, 142, 65);
    padding: 30px;
}

.homeCenter {
    display: flex;
    justify-content: center;
}

.paragraph {
    margin-top: 0px;
    margin-bottom: 0px;
}

.principalImg {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

.textLeft, .textRight {
    margin-top: 0px;
    margin-left: 10px;
}

.textUp {
    display: flex;
    flex-direction: column;
    
}

.confucio {
    display: flex;
    justify-content: center;
}

.learning {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 920px){
    .textLeft, .textRight {
        margin-top: 0px;
        margin-left: 10px;
        display: none;
    }
}
@media only screen and (max-width: 768px){
    .textLeft, .textRight {
        margin-top: 0px;
        margin-left: 10px;
        display: none;
    }
}

@media only screen and (min-width: 920px){
    .textLeft, .textRight {
        margin-top: 0px;
        margin-left: 10px;        
    }
}