.adminCourses {
    background-color: rgb(170, 142, 65);    
    padding-top: 30px;
    gap: 70px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
}

.adminCourse {
    display: grid;
    justify-content: center;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.buttonAddCourse {
   display: flex;
   justify-content: flex-end;
}

.courseEdit {
    background-color: rgb(170, 142, 65);    
    padding: 20px;
    display: flex;
    justify-content: center;
}
    
/* .editACourse {
    
   
} */

.formCourse {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.editContent {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.labelEditCourse {
    flex: 2;
    text-align: start;    
}

.inputEditCourse {
    flex: 3;
    text-align: start;
}

.addCourse {
    background-color: rgb(170, 142, 65);    
    padding: 20px;
    display: flex;  
    flex-direction: column;
    align-items: center;
}

.titleCourseEdit, .titleCourseAdd {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nameCourseEdit {
    margin-top: 0px;
}

.formAddCourse {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addContent {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.labelAddCourse {
    flex: 2;
    text-align: start;
}

.inputAddCourse {
    flex: 3;
    text-align: start;
}

@media only screen and (max-width: 920px){
    .adminCourse {
        display: grid;
        justify-content: center;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 768px){
    .adminCourse {
        display: grid;
        justify-content: center;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 920px){
    .adminCourse {
        display: grid;
        justify-content: center;
        grid-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
    }
}






