.navbar {
    padding: 10px;    
    display: flex;
    background-color: rgb(243, 228, 210);
    justify-content: space-between;
    align-items: center;
    
}

.navegation {        
    gap: 20px;          
}

.navlink {    
    padding: 10px;
    text-decoration: none;      
    color: rgb(56, 53, 53);
}

.navlink:hover {
    color: gray;
}

.logo {
    width: 300px;
    padding: 10px;
}

@media only screen and (max-width: 920px){
    #menu_colapsable {
        display: block;
    }
    #menu_completo {
        display: none;
    }
    #logo_menu {
        display: none;
    }
}
@media only screen and (max-width: 768px){
    #menu_colapsable {
        display: block;
    }
    #menu_completo {
        display: none;
    }
    #logo_menu {
        display: none;
    }
}

@media only screen and (min-width: 920px){
    #menu_colapsable {
        display: none;
    }
}

.menuMobile{
    text-align: center;
    flex: 1;
}
