.navbar {
    padding: 10px;    
    display: flex;
    background-color: rgb(243, 228, 210);
    justify-content: space-between;
    align-items: center;
    
}

.navegation {        
    gap: 20px;          
}

.navlink {    
    padding: 10px;
    text-decoration: none;      
    color: rgb(56, 53, 53);
}

.navlink:hover {
    color: gray;
}

.logo {
    width: 300px;
    padding: 10px;
}
