.navbar {
    /* padding: 10px; */
    /* height: 20%; */
    display: flex;
    background-color: rgb(243, 234, 193);
    justify-content: space-between;
    align-items: center;
    
}

.navegation {        
    gap: 20px;          
}

.navlink {    
    padding: 10px;
    color: black;
    text-decoration: none;    
}

.navlink:hover {
    color: gray;
}
