.footer {
    background: rgb(243, 228, 210);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.contact {
    
}

.icons {
    /* padding: 5px;
    gap: 5px; */ 
}

.icon {
 padding-right: 10px;

}