.adminTeam {
    background-color: rgb(170, 142, 65);    
    padding: 20px;
    gap: 70px;
}

.adminTeachers {
    display: flex;
    justify-content: center;
}

.buttonAddTeacher {
   display: flex;
   justify-content: flex-end;
}