.adminTeam {
    background-color: rgb(170, 142, 65);    
    padding-right: 30px;
    gap: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.adminTeachers {
    display: grid;
    justify-content: center;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.buttonAddTeacher {
   display: flex;
   justify-content: flex-end;
}

.teacherEdit {
    background-color: rgb(170, 142, 65);    
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}


.editATeacher {

}

.titleTeacherEdit, .titleCourseAdd {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formTeacher {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.editContentTeacher {
    display: flex;
    flex-direction: row;    
    flex: 1;
}

.labelEditTeacher {
    flex: 2;
    text-align: start; 
}

.inputEditTeacher {
    flex: 3;
    text-align: start;
}

.addTeacher {
    background-color: rgb(170, 142, 65);    
    padding: 20px;
    display: flex;  
    flex-direction: column;
    align-items: center;
}

.formAddTeacher {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addContentTeacher {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.labelAddTeacher {
    flex: 2;
    text-align: start;
}

.inputAddTeacher {
    flex: 3;
    text-align: start;
}

@media only screen and (max-width: 920px){
    .adminTeachers {
        display: grid;
        justify-content: center;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 768px){
    .adminTeachers {
        display: grid;
        justify-content: center;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 920px){
    .adminTeachers {
        display: grid;
        justify-content: center;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
}

