.courses {
    background-color: rgb(170, 142, 65);
    display: grid;
    justify-content: center;
    padding: 40px;    
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.courseCard {
    text-align: center;
}

@media only screen and (max-width: 920px){
    .courses {
        background-color: rgb(170, 142, 65);
        display: grid;
        justify-content: center;
        padding: 40px;    
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 768px){
    .courses {
        background-color: rgb(170, 142, 65);
        display: grid;
        justify-content: center;
        padding: 40px;    
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 920px){
    .courses {
        background-color: rgb(170, 142, 65);
        display: grid;
        justify-content: center;
        padding: 40px;    
        grid-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
    }
}