.hireCourse {
    background-image: url(5.png);
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.buttonPay {
    margin-top: 30px;
    margin-bottom: 20px;
}